:root{
    --text-color: #3e3e3e;
    --row-color:    #cfdbe6;
}
*:not(i){
    font-family: 'Nunito', sans-serif!important;
}
h1{
    font-weight: bold;
    text-align: center;
    margin-top: 2rem;
    color: black;
}
p, a{
    color: var(--text-color);
    margin: 0;
}
a{
    text-decoration: none!important;
}
a:hover{
    color: var(--text-color);
}

/* OPTIONS MENU */
.optionsMenu{
    margin-top: 4rem;
    border-top: 2px solid darkgray;
    border-bottom: 2px solid darkgray;
}
.optionsMenu .rowMenu .container{
    position: relative;
}
.optionsMenu .rowMenu{
    background-color: var(--row-color);
    height: 117px;
    line-height: 1;
    font-size: 6rem;
    font-weight: bold;
    cursor: pointer;
    padding: 0.1em 0; 
    transition: 1s, transform .3s;
    -o-transition: 1s, transform .3s;
    -moz-transition: 1s, transform .3s;
    -webkit-transition: 1s, transform .3s;
    z-index: 1;
    position: relative;
    margin-bottom: -2rem;
    overflow: hidden;
}

.optionsMenu .rowMenu:not(.optionsMenu .rowMenu:nth-of-type(1)){
    border-top: 2px solid #6a6a6a;
}
.optionsMenu .rowMenu:hover:not(.optionsMenu .rowMenu:last-of-type){
    transform: translateY(-27%);
}
.optionsMenu .rowMenu i{
    position: absolute;
    right: 0;
    bottom: -10rem;
    transition: .5s cubic-bezier(0.175, 0.885, 0.32, 1.075);
    -o-transition: .5s cubic-bezier(0.175, 0.885, 0.32, 1.075);
    -moz-transition: .5s cubic-bezier(0.175, 0.885, 0.32, 1.075);
    -webkit-transition: .5s cubic-bezier(0.175, 0.885, 0.32, 1.075);
}
.optionsMenu .rowMenu:hover i{
    bottom: 0;
}
.optionsMenu .rowMenu.opened{
    height: 200vh;
    z-index: 5;
    margin-top: -37rem;
    transform: none!important;
}

.optionsMenu .rowMenu.opened i{
    bottom: 0;    
}


/* FIN OPTIONS MENU */